* {
  margin: 0;
  direction: rtl;
}
body {
  background-color: #f8f9fa;
  font-family: vazir;
}
/* disable title display*/
title {
  display: none;
}

/* Load Fonts from assets folder */

@font-face {
  font-family: vazir;
  src: url("../fonts/vazir.woff");
}

@font-face {
  font-family: vazir-thin;
  src: url("../fonts/vazir-Thin.woff");
}
@font-face {
  font-family: vazir-medium;
  src: url("../fonts/vazir-Medium.woff");
}
@font-face {
  font-family: vazir-light;
  src: url("../fonts/vazir-Light.woff");
}
@font-face {
  font-family: vazir-bold;
  src: url("../fonts/vazir-Bold.woff");
}
@font-face {
  font-family: vazir-black;
  src: url("../fonts/vazir-Black.woff");
}
/* header */
.header {
  width: 100%;
  height: 5em;
  text-align: center;
  background-color: #dce0e5;
  opacity: 50%;
  transition: 0.5s;
  cursor: pointer;
}
.header:hover {
  opacity: 100%;
  transition: 0.5s;
}
/* header nav custom CSS */
.header-nav {
  padding-top: 0.5em;
  font-size: 1.5em;
}
/* add custom CSS to HTML elements*/
.main {
  display: flex;
  padding: 2em;
  margin-bottom: 10em;
}
/* aside for add notes*/
.nav {
  display: flex;
  float: right;
  margin: 2em 2em;
  position: fixed relative;
  padding: 0.5em 1em 1em 1em;
  background-color: #dce0e5;
  border-radius: 0.5em;
  text-align: center;
  opacity: 60%;
  transition: 0.5s;
}
/* aside hover */
.nav:hover {
  transition: 0.5s;
  box-shadow: 0.2em 0.2em 0.3em #9098a0;
  opacity: 100%;
}
/* form */
.nav form {
  margin-top: 1em;
  display: grid;
}
/* form input */
.nav input {
  border-radius: 0.1em;
  font-family: vazir;
  font-size: 1em;
  margin-bottom: 1em;
  border: none;
  outline: none;
  background-color: #b9c2ca;
  padding: 0.8em;
  color: #343a40;
  transition: 0.5s;
}
/* Input Focus */
input:focus {
  box-shadow: 0.1em 0.2em 0.3em;
  border-radius: 0.5em;
  transition: 0.3s;
}
/* Text area */
.nav textarea {
  font-family: vazir;
  font-size: 1em;
  outline: none;
  background-color: #b9c2ca;
  border: none;
  padding: 0.8em;
  color: #343a40;
  transition: 0.5s;
}
/* Textarea focus */
.nav textarea:focus {
  box-shadow: 0.1em 0.2em 0.3em;
  border-radius: 0.5em;
  transition: 0.3s;
}
/* form Button*/
.nav button {
  cursor: pointer;
  border: none;
  margin-top: 1em;
  background-color: #41474e;
  color: #dce0e5;
  outline: none;
  border-radius: 0.5em;
  transition: 0.3s;
  font-family: vazir;
  font-size: 1.1em;
}

/* Button hover */
.nav button:hover {
  background-color: #dde0e3;
  color: #495057;
  transition: 0.3s;
}
/* article for show Notes */
.article {
  margin-right: 2em;
  width: 80%;
  padding: 0.5em 1em 1em 1em;
  background-color: #dce0e5;
  border-radius: 0.5em;
  text-align: center;
  opacity: 60%;
  transition: 0.5s;
}
/* article hover */
.article:hover {
  transition: 0.5s;
  opacity: 100%;
  box-shadow: 0.2em 0.2em 0.3em #9098a0;
}
/* add CSS to section which shows the Notes */
.section {
  background-color: #f3f5f6;
  border-radius: 0.3em;
  /* box-shadow: 0.1em 0.2em 0.5em #9098a0; */
  transition: 0.5s;
  margin-top: 1em;
}
/* section focus */
.section:hover {
  transition: 0.5s;
  box-shadow: 0.2em 0.2em 0.3em #9098a0;
  opacity: 100%;
}
/* noteContents Id  */
#noteContents {
  text-align: justify;
  margin: 0.6em 0.9em 0em 0.9em;
}
/* #note Date Id */
#date {
  padding: 0em 0.9em 0.8em 0.9em;
  text-align: left;
}
/* Note's titles */
#title {
  padding: 0.5em 0.9em 0em 0.9em;
  text-align: right;
}
/* P CSS */
#title p {
  border-bottom: 0.1em solid #41474e;
}
/* Image  */
#title img {
  width: 1em;
  height: 1em;
  float: left;
  padding-top: 0.2em;
  cursor: pointer;
}
/* Footer CSS */
.footer {
  position: fixed;
  width: 100%;
  height: 5em;
  bottom: 0;
  text-align: center;
  background-color: #dce0e5;
  opacity: 50%;
  transition: 0.5s;
}
.footer:hover {
  opacity: 100%;
  transition: 0.5s;
}
.footer p {
  margin-top: 1em;
  font-size: 1.1em;
}
